body #name {
  font-family: sans-serif;
  font-size: 60px;
  color: #33B5FF;
  margin-bottom: 0px;
}

body h3 {
  margin-top: 0px;
  font-family: serif;
  font-size: 15px;
}
#label{
  color:#33B5FF;
  margin-bottom: 0px;
}
#assignments {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: monospace;
  font-size: 15px;
}

#reading {
  font-family: monospace;
  font-size: 15px;;
}

#heading {
  margin-bottom: 5px;
  color: #33B5FF;
}
